<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kolibreath.onit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/onit"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity"/>
        <activity android:name=".OnitMainActivity"/>
        <activity android:name=".UserMainActivity"/>
        <activity android:name=".SearchforBBFActivity"/>
        <activity android:name=".CreateNewDongtai"/>
        <activity android:name=".SelectActivity"/>
        <activity android:name=".SelectAvatarActivity"/>
    </application>

</manifest>