<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kolibreath.onit">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/icon192"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.RegisterActivity"/>

        <activity android:name=".Activity.OnitMainActivity"/>
        <activity android:name=".Activity.UserMainActivity"/>
        <activity android:name=".Activity.SearchforBBFActivity"/>
        <activity android:name=".Activity.CreateNewDongtai"/>
        <activity android:name=".Activity.SelectActivity"/>
        <activity android:name=".Activity.SelectAvatarActivity"/>
        <activity android:name=".Activity.Comment"/>
        <activity android:name=".Activity.OtherUserMain"/>
    </application>

</manifest>